td{
    max-width: 100px;
    overflow: hidden !important;
}

body{
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: Consolas,'ubuntu mono','Courier New',Andika,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.container-fluid{
    min-height: 600px;
}
